.contacts {
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;

  color: $primary-text-color;

  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: $selection-text-color;
}

.icon-phone {
  margin-right: 10px;

  fill: $primary-text-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-email {
  margin-right: 10px;

  fill: $primary-text-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover .icon-email,
.contacts__link:focus .icon-email {
  fill: $selection-text-color;
}

.phone:hover .icon-phone,
.contacts__link:focus .icon-phone {
  fill: $selection-text-color;
}
