.form {
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form__title {
  text-align: center;
  padding: 0;
  margin: 0;

  color: $title-text-color;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.form-field {
  position: relative;
  text-align: left;
}

.form-field__label {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-field__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  background-color: transparent;

  font-size: 16px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  bottom: calc(50% - 21px);
  left: 14px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  border-color: $selection-text-color;
  outline: none;
}

.form-field__input:focus + .form-icon {
  fill: $selection-text-color;
}

.comment {
  height: 120px;
  width: 100%;
  padding: 12px 16px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment:focus {
  outline: none;
}

.checkbox-field {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.checkbox {
  display: inline-block;
  cursor: pointer;
}

.checkbox-field__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: solid 2px $title-text-color;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:checked + .checkbox-field__icon {
  background-image: url(../image/icon-check.svg);
  background-color: $selection-text-color;
  border-color: $selection-text-color;
  background-size: contain;
  background-origin: border-box;
}

.checkbox-field__text {
  display: flex;
  align-items: center;

  color: $primary-text-color;

  font-size: 14px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.checkbox__link {
  border-bottom: solid 1px $selection-text-color;
  margin-left: 5px;

  color: $selection-text-color;

  line-height: 0.85;
}

.modal__btn-submit {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
