.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {
    margin: 60px auto;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.site-nav__item {
  position: relative;

  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.site-nav__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  padding: 8px 0px;

  color: $title-text-color;

  font-weight: 500;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  .logo:focus {
    color: $selection-text-color;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0px;
  }
}

.site-nav .current::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;

  background-color: $selection-text-color;
}

.menu-nav {
  font-size: 18px;

  @media screen and (max-width: 768px) {
    display: none;
    position: absolute;
    // position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $white;
    border-top: solid 1px #ececec;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 10;
    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;

    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.menu-button {
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 10px;
  right: 0;
  top: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
