.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  & .box {
    position: relative;
    overflow: hidden;
  }
}

.projects__item {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 370px;
  border: 1px solid #eeeeee;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:hover .overlay,
  &:focus .overlay {
    transform: translatey(0);
  }
}

.projects__title {
  margin: 0;
  margin-bottom: 4px;

  color: $title-text-color;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

.projects__position {
  margin: 0;

  color: $primary-text-color;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.projects__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay > p {
  display: flex;
  padding: 0;
  margin: 0;

  color: $white;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.overlay code {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  color: #2a2a2a;
}
