.our-projects {
  margin: 0px auto;
  padding: 94px 0px;
}

.sort-btn {
  justify-content: center;
  display: flex;
}

.sort-btn__item-sort {
  padding: 6px 22px;
  display: inline-block;
  border: 0;
  border-radius: 4px;

  color: $title-text-color;
  background-color: $bg-color-secondary;

  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: none;

    color: $white;
    background-color: $selection-text-color;
  }
}

.sort-btn__item:not(:last-child) {
  margin-right: 8px;
}
